######################################
# If you have ever made any changes  #
# to this file, please consider also #
# change the .dockerignore file      #
######################################
#
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Netbeans
*nbproject
*dist
*build*
#*.mk

# Mac
*.DS_Store
*.swp
*/*.swp
*.dep.inc
*/*.dep.inc
.Rproj.user
*/*Rhistory
*Rhistory
*autom4te.cache*
*RData
*Rdata
*rdata
*rData

# Customize
build*
output
dependency
doxygen-output

# Ignore the folder
RAnalogs/RAnEn/src/*

# But don't ignore these files
!RAnalogs/RAnEn/src/RcppForecasts.h
!RAnalogs/RAnEn/src/RcppForecasts.cpp
!RAnalogs/RAnEn/src/RcppObservations.h
!RAnalogs/RAnEn/src/RcppObservations.cpp
!RAnalogs/RAnEn/src/RcppFunctions.h
!RAnalogs/RAnEn/src/RcppFunctions.cpp
!RAnalogs/RAnEn/src/RcppChecks.cpp
!RAnalogs/RAnEn/src/RcppExports.cpp
!RAnalogs/RAnEn/src/RcppConfig.cpp
!RAnalogs/RAnEn/src/RcppGenerateAnalogs.cpp
!RAnalogs/RAnEn/src/RcppGenerateTimeMapping.cpp

RAnalogs/RAnEn/build
RAnalogs/RAnEn/docs
RAnalogs/RAnEn/README*
RAnalogs/releases/RAnEn/
RAnalogs/RAnEn/src/errorType.cpp
RAnalogs/RAnEn/src/errorType.h
RAnalogs/RAnEn/src/Functions.cpp
RAnalogs/RAnEn/src/Functions.h

# From the base theme and jekyll ignore
# Ignore docs files
#
_gh_pages
_site
.ruby-version
*.lock
.sass-cache
_screenshots

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# Komodo
*.komodoproject
.komodotools

# grunt-html-validation
validation-status.json
validation-report.json

# Folders to ignore
node_modules<Paste>

# The automatic deployment folder
out
*vim-markdown-preview.html

# VS code project
*.vscode

# Specific for docker image
.travis.yml
.git
.gitignore
_config.yml
*csv
