######################################
# If you have ever made any changes  #
# to this file, please consider also #
# change the .dockerignore file      #
######################################
#
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Netbeans
*nbproject
*dist
*build*
#*.mk

# Mac
*.DS_Store
*.swp
*/*.swp
*.dep.inc
*/*.dep.inc
.Rproj.user
*/*Rhistory
*Rhistory
*autom4te.cache*

# Customize
build*
output
dependency
doxygen-output

RAnalogs
vim-markdown-preview.html

# From the base theme and jekyll ignore
# Ignore docs files
#
_gh_pages
_site
.ruby-version
*.lock
.sass-cache
_screenshots

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# Komodo
*.komodoproject
.komodotools

# grunt-html-validation
validation-status.json
validation-report.json

# Folders to ignore
node_modules
