# This configuration file is generated for gribConverter to convert 201807 forecast
# GRIB2 files to NetCDF files for computing analog ensembles.
#

# These two options are specified in command line arguments
#folder = /home/graduate/wuh20/geolab_storage_V3/data/NAM/NCEI/forecasts/201807/extract/
#output = 201807.nc

output-type = Forecasts
ext = .grb2
flt-interval = 3600
verbose = 3

regex-time = .*nam_218_(\d{8})_\d{4}_\d{3}\.grb2$
regex-flt = .*nam_218_\d{8}_\d{4}_(\d{3})\.grb2$

# The following lines define the parameters.
# Please refer to the post on how to get variable information
# using Eccodes tools.
#
# paramId      level        typeOfLevel        name
# 260242       2            heightAboveGround  2 metre relative humidity
pars-id = 260242
levels = 2
level-types = heightAboveGround
parameters-new-name = 2MetreRelativeHumidity

# 168          2            heightAboveGround  2 metre dewpoint temperature 
pars-id = 168
levels = 2
level-types = heightAboveGround
parameters-new-name = 2MetreDewpoint

# 167          2            heightAboveGround  2 metre temperature 
pars-id = 167
levels = 2
level-types = heightAboveGround
parameters-new-name = 2MetreTemperature

# 228139       0            depthBelowLandLayer  Soil Temperature
pars-id = 228139
levels = 0
level-types = depthBelowLandLayer
parameters-new-name = SoilTemperature

# 260509       0            surface      Albedo
pars-id = 260509
levels = 0
level-types = surface
parameters-new-name = SurfaceAlbedo

# 131          1000         isobaricInhPa  U component of wind
pars-id = 131
levels = 1000
level-types = isobaricInhPa
parameters-new-name = 1000IsobaricInhPaU

# 132          1000         isobaricInhPa  V component of wind
pars-id = 132
levels = 1000
level-types = isobaricInhPa
parameters-new-name = 1000IsobaricInhPaV

# paramId     level       name
# 130         0           Temperature 
pars-id = 130
levels = 0
level-types = surface
parameters-new-name = SurfaceTemperature

# 134         0           Surface pressure 
pars-id = 134
levels = 0
level-types = surface
parameters-new-name = SurfacePressure

# 228164      0           Total Cloud Cover 
pars-id = 228164
levels = 0
level-types = unknown
parameters-new-name = TotalCloudCover

# 228228      0           Total Precipitation 
pars-id = 228228
levels = 0
level-types = surface
parameters-new-name = TotalPrecipitation

# 260087      0           Downward short-wave radiation flux 
pars-id = 260087
levels = 0
level-types = surface
parameters-new-name = DownwardShortWaveRadiation

# 260097      0           Downward long-wave radiation flux 
pars-id = 260097
levels = 0
level-types = surface
parameters-new-name = DownwardLongWaveRadiation

# 260088      0           Upward short-wave radiation flux 
pars-id = 260088
levels = 0
level-types = surface
parameters-new-name = UpwardShortWaveRadiation

# 260098      0           Upward long-wave radiation flux 
pars-id = 260098
levels = 0
level-types = surface
parameters-new-name = UpwardLongWaveRadiation

# Difference between 2 metre above ground and surface temperature
# http://mailman.ucar.edu/pipermail/wrf-users/2012/002776.html
